<% if current_user %>
  <% if @polls.any? %>
      <% @polls.each do |poll| %>
        <h1><%= poll.name %></h1>
        <% if current_user.voted_up_on?(poll) %>
          <p> +1 </p>
        <% elsif current_user.voted_down_on?(poll) %>
          <p> -1 </p>
        <% else %>
          <p> 0 </p>
        <%end%>
        <%= link_to "Downvote", dislike_poll_path(poll), method: :put %>
        <%= link_to "Upvote", like_poll_path(poll), method: :put %>


      <% end %>
  <% else %>
    <h2>No polls yet</h2>
    <%= link_to "Add a poll", new_poll_path %>
  <% end %>
<% end  %>
