<% if current_user %>
  <% if @polls.any? %>
      <% @polls.each do |poll| %>
        <h1><%= poll.name %></h1>
        <button name='Upvote' > Upvote </button>
        <button name='Downvote' > Downvote </button>
      <% end %>
  <% else %>
    <h2>No polls yet</h2>
    <%= link_to "Add a poll", new_polls_path %>
  <% end %>
<% end  %>
