<div class="new-poll col-lg-4 col-lg-offset-4">
  <%= bootstrap_form_for @poll do | f | %>
    <%= f.text_field :name, icon: "glyphicon glyphicon-resize-full" %>
    <%= f.submit %>
  <% end %>

</div>
