<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Pusher Test</title>
  <h1 id="upvote">
    0
  </h1>
  <h1 id="downvote">
    0
  </h1>
</head>
