<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Pusher Test</title>
</head>

<body>

  <div class="col-lg-2 col-lg-offset-5">
    <div class="center-block" id="chart"></div>
  </div>

</body>
