<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Pusher Test</title>
</head>

<body>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <h1>Current Poll: <%= @poll.name %></h1><br>
      <span>Total Voters: <h4 id="totalCount"></span><p><br>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-lg-offset-2">
      <div class="legend">
        <h4>LEGEND</h4>
        <p style="color:#7ED321">Upvote</p>
        <p style="color:#FF001F">Downvote</p>
        <p style="color:#F8E71C">Neutral</p>
      </div>
    </div>
    <div class="col-lg-2 col-lg-offset-1">
      <div class="center-block" id="chart">
      </div>
    </div>
  </div>
</body>
